{% extends "account.master" %}

{% block user_area %}
  <main class="content__main">
    {% include 'notifications' %}

    {{ form_model(user, {'url' :  route('account.change_password.store'), 'files': true, 'id':'edit_profile', 'class' : 'form'}) }}
    <div class="fieldset">
      <div class="fieldset__content">
	    <div class="fieldset__row">
          <div class="field">
            <label class="field__title" for="email">{{ __('Email') }}</label>
            <div class="field__item">{{ form_text('email', auth_user().email, {'id' : 'email', 'class' : 'input', 'disabled' : 'disabled'}) }}</div>
          </div>
        </div>
        <div class="fieldset__row">
          <div class="field">
            <label class="field__title" for="password">{{ __('Password') }}</label>
            <div class="field__item">{{ form_password('password', {'id' : 'password', 'class' : 'input'}) }}</div>
          </div>
        </div>
        <div class="fieldset__row">
          <div class="field">
            <label class="field__title" for="newpassword">{{ __('Confirm password') }}</label>
            <div class="field__item">{{ form_password('password_confirmation', {'id' : 'newpassword', 'class' : 'input'}) }}</div>
          </div>
        </div>
        <div class="form__total">
            {{ form_submit( __('Save password') , {'class' : 'btn'}) }}
        </div>
    {{ form_close() }}
  </main>
{% endblock %}