{% extends "layouts.app" %}

{% block search_bar %}{% endblock %}

{% block content %}
  <div class="content__header">
      <h3 class="content__title">{{ __("Reset Password") }}</h3>
  </div>
  <main class="content__main">
    <div class="popup" style=" z-index: 0; ">
      <form method="POST" action="{{ route('password.request') }}" class="form">
        {{ csrf_field() }}
        <div class="fieldset" id="resetpassword_form">
		  <div class="fieldset__content">
			<div class="fieldset__row">
              <div class="field">
                <label class="field__title" for="email">{{ __('Address') }}</label>
                <div class="field__item">
                  <input class="input{{errors.has('email') ? ' is-invalid' : '' }}" type="text" id="email" name="email" value="{{ old('email') }}" placeholder="Email/BitMessage" required autofocus>
                  {% if errors.has('email') %}
                  <small class="form-control-feedback invalid-feedback">{{errors.first('email') }}</small>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="fieldset__row">
              <div class="field">
                <label class="field__title" for="password">{{ __('Password') }}</label>
                <div class="field__item">
                  <input class="input{{errors.has('password') ? ' is-invalid' : '' }}" type="password" id="password" name="password" required aria-describedby="passwordHelp">
                  {% if errors.has('password') %}
                  <div class="form-control-feedback invalid-feedback">{{errors.first('password') }}</div>
                  {% endif %}
                  <input class="input" id="password-confirm" type="password" name="password_confirmation" placeholder="Confirm your password" required>
                  <small class="form-text text-muted" id="passwordHelp">{{ __("Keep your password from prying eyes.") }}</small>
                </div>
              </div>
            </div>
			<div class="form__total">
              <input type="hidden" name="token" value="{{ token }}">
			  <input class="btn btn--accent" type="submit" value="{{ __("Reset Password") }}">
			</div>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock %}